/* 节点阴影 */
.node-shadow-box {
	box-shadow: 0 10px 12px 0 rgb(10 30 65 / 16%);
}
.node-width {
	width: 200px;
	box-sizing: border-box;
}
.node-title-container {
	color: #fff;
}
/* 开始节点 */
.start-node {
	border-radius: 10px;
	overflow: hidden;
}
.node-wrapper {
	cursor: pointer;
	.node-container {
		@extend .node-width;
		@extend .start-node;
		border: 1px solid #fafafa;
	}
	.close-btn {
		display: none;
	}
	.node-root {
		&:hover {
			.close-btn {
				display: initial;
			}
		}
	}
}
// 结束节点包装
.end-node-wrapper {
	.end-node-box {
		display: flex;
		width: 80px;
		height: 36px;
		color: #212121;
		border: 2px solid #fafafa;
		border-radius: 30px;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;

		&.status-pass {
			background-color: #a9da90;
			border-color: #6bb63c;
		}

		&.status-pass:hover {
			border-color: #6bb63c;
		}

		&.status-reject {
			background-color: #f6e5e5;
			border-color: #e47470;
		}

		&.status-reject:hover {
			border-color: #e47470;
		}

		&.status-cancel {
			background-color: #eaeaeb;
			border-color: #919398;
		}

		&.status-cancel:hover {
			border-color: #919398;
		}
	}
}
// 节点连线处理
.node-handler-wrapper {
	position: relative;
	display: flex;
	height: 70px;
	align-items: center;
	user-select: none;
	justify-content: center;
	flex-direction: column;

	&::before {
		position: absolute;
		top: 0;
		z-index: 0;
		width: 2px;
		height: 100%;
		margin: auto;
		background-color: #dedede;
		content: '';
	}

	.node-handler {
		.add-icon {
			position: relative;
			top: -5px;
			display: flex;
			width: 25px;
			height: 25px;
			color: #fff;
			cursor: pointer;
			background-color: #0089ff;
			border-radius: 50%;
			align-items: center;
			justify-content: center;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.node-handler-arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: flex;
		transform: translateX(-50%);
	}
}

// 审批节点
.approve-node-wrapper,
.copy-task-node,
.exclusive-node {
	.node-root {
		@extend .node-width;
		@extend .node-shadow-box;
		border-radius: 10px;
	}
}
// 抄送节点
.copy-task-node {
}
// 条件节点包装
.branch-node-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	// 节点
	.node-box {
		position: relative;
		display: flex;
		min-height: 70px;
		padding: 5px 10px 8px;
		cursor: pointer;
		background-color: #fff;
		flex-direction: column;
		border: 2px solid #e9e9eb;
		border-radius: 8px;
		box-shadow: 0 1px 4px 0 rgb(10 30 65 / 16%);
		transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
		// @extend .node-shadow-box;
		&.status-pass {
			background-color: #a9da90;
			border-color: #67c23a;
		}

		&.status-pass:hover {
			border-color: #67c23a;
		}

		&.status-running {
			background-color: #e7f0fe;
			border-color: #5a9cf8;
		}

		&.status-running:hover {
			border-color: #5a9cf8;
		}

		&.status-reject {
			background-color: #f6e5e5;
			border-color: #e47470;
		}

		&.status-reject:hover {
			border-color: #e47470;
		}

		&:hover {
			border-color: #0089ff;
			.branch-node-move {
				display: flex;
			}
		}
		// 普通节点标题
		.node-title-container {
			display: flex;
			padding: 4px;
			cursor: pointer;
			border-radius: 4px 4px 0 0;
			align-items: center;

			.node-title-icon {
				display: flex;
				align-items: center;

				&.user-task {
					color: #ff943e;
				}

				&.copy-task {
					color: #3296fa;
				}

				&.start-user {
					color: #676565;
				}
			}

			.node-title {
				margin-left: 4px;
				overflow: hidden;
				font-size: 14px;
				font-weight: 600;
				line-height: 18px;
				color: #1f1f1f;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:hover {
					border-bottom: 1px dashed #f60;
				}
			}
		}

		// 条件节点标题
		.branch-node-title-container {
			display: flex;
			padding: 4px 0;
			cursor: pointer;
			border-radius: 4px 4px 0 0;
			align-items: center;
			justify-content: space-between;

			.input-max-width {
				max-width: 115px !important;
			}

			.branch-title {
				overflow: hidden;
				font-size: 13px;
				font-weight: 600;
				color: #f60;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:hover {
					border-bottom: 1px dashed #000;
				}
			}

			.branch-priority {
				min-width: 50px;
				font-size: 12px;
			}
		}

		.node-content {
			display: flex;
			min-height: 32px;
			padding: 4px 8px;
			margin-top: 4px;
			line-height: 32px;
			justify-content: space-between;
			align-items: center;
			color: #111f2c;
			background: rgb(0 0 0 / 3%);
			border-radius: 4px;

			.node-text {
				display: -webkit-box;
				overflow: hidden;
				font-size: 14px;
				line-height: 24px;
				text-overflow: ellipsis;
				word-break: break-all;
				-webkit-line-clamp: 2; /* 这将限制文本显示为两行 */
				-webkit-box-orient: vertical;
			}
		}

		//条件节点内容
		.branch-node-content {
			display: flex;
			min-height: 32px;
			padding: 4px 0;
			margin-top: 4px;
			line-height: 32px;
			align-items: center;
			color: #111f2c;
			border-radius: 4px;

			.branch-node-text {
				overflow: hidden;
				font-size: 12px;
				line-height: 24px;
				text-overflow: ellipsis;
				word-break: break-all;
				-webkit-line-clamp: 2; /* 这将限制文本显示为两行 */
				-webkit-box-orient: vertical;
			}
		}

		// 条件节点左右移动
		.branch-node-move {
			position: absolute;
			display: none;
			width: 10px;
			height: 100%;
			cursor: pointer;
			align-items: center;
			justify-content: center;
		}

		.move-node-left {
			top: 0;
			left: -2px;
			background: rgb(126 134 142 / 8%);
			border-bottom-left-radius: 8px;
			border-top-left-radius: 8px;
		}

		.move-node-right {
			top: 0;
			right: -2px;
			background: rgb(126 134 142 / 8%);
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
	.branch-node-container {
		position: relative;
		display: flex;
		&::before {
			position: absolute;
			left: 50%;
			width: 4px;
			height: 100%;
			// background-color: #fafafa;
			content: '';
			transform: translate(-50%);
		}

		.branch-node-add {
			position: absolute;
			top: -18px;
			left: 50%;
			z-index: 1;
			height: 36px;
			padding: 0 10px;
			font-size: 12px;
			line-height: 36px;
			border: 2px solid #dedede;
			border-radius: 18px;
			transform: translateX(-50%);
			transform-origin: center center;
		}

		.branch-node-readonly {
			position: absolute;
			top: -18px;
			left: 50%;
			z-index: 1;
			display: flex;
			width: 36px;
			height: 36px;
			background-color: #fff;
			border: 2px solid #dedede;
			border-radius: 50%;
			transform: translateX(-50%);
			align-items: center;
			justify-content: center;
			transform-origin: center center;

			&.status-pass {
				background-color: #e9f4e2;
				border-color: #6bb63c;
			}

			&.status-pass:hover {
				border-color: #6bb63c;
			}

			.icon-size {
				font-size: 22px;
				&.condition {
					color: #67c23a;
				}
				&.parallel {
					color: #626aef;
				}
				&.inclusive {
					color: #345da2;
				}
			}
		}

		.branch-node-item {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			min-width: 180px;
			padding: 40px 10px 0;
			background: transparent;
			border-top: 2px solid #dedede;
			border-bottom: 2px solid #dedede;

			&::before {
				position: absolute;
				width: 2px;
				height: 100%;
				margin: auto;
				inset: 0;
				background-color: #dedede;
				content: '';
			}
		}
		// 覆盖条件节点第一个节点左上角的线
		.branch-line-first-top {
			position: absolute;
			top: -5px;
			left: -1px;
			width: 50%;
			height: 7px;
			background-color: #fff;
			content: '';
		}
		// 覆盖条件节点第一个节点左下角的线
		.branch-line-first-bottom {
			position: absolute;
			bottom: -5px;
			left: -1px;
			width: 50%;
			height: 7px;
			background-color: #fff;
			content: '';
		}
		// 覆盖条件节点最后一个节点右上角的线
		.branch-line-last-top {
			position: absolute;
			top: -5px;
			right: -1px;
			width: 50%;
			height: 7px;
			background-color: #fff;
			content: '';
		}
		// 覆盖条件节点最后一个节点右下角的线
		.branch-line-last-bottom {
			position: absolute;
			right: -1px;
			bottom: -5px;
			width: 50%;
			height: 7px;
			background-color: #fff;
			content: '';
		}
	}
}
